---
- name: Provisionamento Condicional para server-l4s
  hosts: server-l4s
  become: yes
  tasks:
    - name: 1. Verificar se o módulo 'tcp_prague' está carregado
      shell: lsmod | grep tcp_prague
      register: prague_check
      ignore_errors: yes
      changed_when: false

    - name: 2. Instalar 'unzip' e 'wget' se o módulo não estiver carregado
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop:
        - unzip
        - wget
      when: prague_check.rc != 0

    - name: 3. Baixar o arquivo zipado da equipe do l4sTEAM
      get_url:
        url: 'https://github.com/L4STeam/linux/releases/download/testing-build/l4s-testing.zip'
        dest: /tmp/l4s-testing.zip
        mode: '0644'
      when: prague_check.rc != 0

    - name: 4. Descompactar o arquivo
      unarchive:
        src: /tmp/l4s-testing.zip
        dest: /tmp/
        remote_src: yes
      when: prague_check.rc != 0

    - name: 5. Instalar especificações L4S (pacotes debian)
      ansible.builtin.shell:
        cmd: dpkg --install debian_build/*
        chdir: /tmp/
      when: prague_check.rc != 0

    - name: 6. Atualizar grub
      ansible.builtin.shell: update-grub
      when: prague_check.rc != 0

    - name: 7. Reiniciar a máquina para usar o novo kernel
      ansible.builtin.reboot:
        reboot_timeout: 600
      when: prague_check.rc != 0

    - name: 8. Carregar o módulo tcp_prague
      ansible.builtin.shell: modprobe tcp_prague
      when: prague_check.rc != 0


    - name: 9. Informar que o módulo já estava carregado (se aplicável)
      debug:
        msg: "Módulo 'tcp_prague' já estava carregado. Nenhuma ação de instalação foi necessária."
      when: prague_check.rc == 0

